{
    "env": {
        "node": true,
        "browser": true,
        "es2021": true
    },
    "extends": [
		"next/core-web-vitals",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/recommended",
        "universe/web",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended",
        "plugin:import/typescript"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["react", "@typescript-eslint"],
    "rules": {
        "indent": ["error", "tab"],
        "linebreak-style": ["error", "windows"],
        "quotes": ["error", "double"],
        "semi": ["warn", "always"],
        "prettier/prettier": "off",
        "react/react-in-jsx-scope": "off",
        "max-len": ["error", { "code": 120, "comments": 260 }],
        "react/prop-types": 0,
        "@typescript-eslint/no-explicit-any": "off",
        "import/order": [
            "error",
            {
                "groups": ["builtin", "external", "internal"],
                "pathGroups": [
                    {
                        "pattern": "react",
                        "group": "builtin"
                    },
                    {
                        "pattern": "api/**",
                        "group": "internal",
                        "position": "before"
                    },
                    {
                        "pattern": "hooks/**",
                        "group": "internal",
                        "position": "before"
                    },
                    {
                        "pattern": "components/**",
                        "group": "internal"
                    },
                    {
                        "pattern": "constants/**",
                        "group": "internal"
                    },
                    {
                        "pattern": "lib/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "helpers/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "types/**",
                        "group": "internal",
                        "position": "after"
                    }
                ],
                "pathGroupsExcludedImportTypes": [],
                "alphabetize": {
                    "order": "asc",
                    "caseInsensitive": true
                },
                "newlines-between": "always",
                "distinctGroup": true
            }
        ],
        "import/no-unresolved": [2, {"commonjs": false, "amd": false}]
    },
    "ignorePatterns": ["package-lock.json", "package.json", ".eslintrc"],
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".tsx", ".ts"],
                "moduleDirectory": ["src", "node_modules"]
            }
        }
    }
}
